<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marker</title>
</head>
<body>

<h1>Markers: </h1>
    #foreach($marker in $markers)
    <h2>${foreach.count}: </h2>
    <ul>
        <li>$marker.getId()</li>
        <li>$marker.getName()</li>
        <li>$marker.getRole().name()</li>
    </ul>
    #end
</body>
</html>